<a href="https://colab.research.google.com/github/Zauqyaraff/PZSIB-AML/blob/main/Topic_3_4_Zauqy_Affan_Raff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
var = None
print (var)

None

2. > Create a variable containing your name (Points : 5)

In [ ]:
myname = 'Zauqy Affan Raff'
print (myname)

Zauqy Affan Raff

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
# List items in the classroom
item_list = ['meja','kursi','papan tulis','spidol','buku']
print (item_list)

['meja', 'kursi', 'papan tulis', 'spidol', 'buku']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
new_list = [1,2,3]

my_dict = {"Adam" : new_list, "Levin" : new_list}
print(my_dict)

{'Adam': [1, 2, 3], 'Levin': [1, 2, 3]}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
# p = price, q = quantity_sold, d = discount
p = 12000
q = 20
d = 0.1
d_value = p*q*d
z = p*q-d_value
print("Discount :", d_value)
print("Total Cost :", z)

Discount : 24000.0
Total Cost : 216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

country = ['Indonesia', 'Australia', 'United Kingdom', 'USA', 'Egypt','Singapore','Japan']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

print(country[0:4])

['Indonesia', 'Australia', 'United Kingdom', 'USA']

In [ ]:
# Append new country to the list (Points : 5)

country.append('Vietnam')
print(country)

['Indonesia', 'Australia', 'United Kingdom', 'USA', 'Egypt', 'Singapore', 'Japan', 'Vietnam']

In [ ]:
# Drop one country from the list (Points : 5)

del country[2]
print(country)

['Indonesia', 'Australia', 'USA', 'Egypt', 'Singapore', 'Japan', 'Vietnam']

In [ ]:
# Get country in the last index (Points : 5)

print(country[-1])

Vietnam

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

print(customer.keys())

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)

print(customer["name"])

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)

print(customer["name"][0])

Dio

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

del customer["age"]
print(customer.keys())

dict_keys(['name', 'gender', 'membership'])

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


for i in range(len(customer["gender"])):
  
    # Replace gender 1 => Male
    if customer["gender"][i] == 1 :
        customer["gender"][i] = 'Male'
  
    # Replace gender 0 => Female
    if customer["gender"][i] == 0 :
        customer["gender"][i] = 'Female'
  
# print list
print(customer["gender"])

['Male', 'Female', 'Female', 'Male']